schemas/rest-api/src/main/resources/etc/1.5/schemas/vcloud/services.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  vcd-rest-api-schemas :: vCloud Director REST API schemas
  %%
  Copyright (C) 2013 - 2021 VMware
  %%
  Redistribution and use in source and binary forms, with or without
  modification, are permitted provided that the following conditions are met:
  
  1. Redistributions of source code must retain the above copyright notice,
     this list of conditions and the following disclaimer.
  2. Redistributions in binary form must reproduce the above copyright notice,
     this list of conditions and the following disclaimer in the documentation
     and/or other materials provided with the distribution.
  
  THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
  AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
  IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
  ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDERS OR CONTRIBUTORS BE
  LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
  CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
  SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
  INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
  CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
  ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE
  POSSIBILITY OF SUCH DAMAGE.
  #L%
  -->


<xs:schema xmlns="http://www.vmware.com/vcloud/v1.5"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:jaxb="http://java.sun.com/xml/ns/jaxb"
           xmlns:meta="http://www.vmware.com/vcloud/meta"
           jaxb:version="2.0"
           jaxb:extensionBindingPrefixes="meta"
           elementFormDefault="qualified"
           targetNamespace="http://www.vmware.com/vcloud/v1.5"
           version="1.0">

    <xs:include schemaLocation="entity.xsd"/>
    <xs:include schemaLocation="common.xsd"/>
    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud API extensibility objects accessible by authenticated users.
        </xs:documentation>
    </xs:annotation>

    <xs:element name="ApiExtensibility" type="ApiExtensibilityType" />
    <xs:complexType name="ApiExtensibilityType">
         <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.apiextensibility</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Lists links to API extensibility operations and entities.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ResourceType">
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="Service" type="ServiceType" />
    <xs:complexType name="ServiceType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.service</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Public representation of an external service.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Namespace for the service.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Vendor" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                External service vendor.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                 </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ApiDefinition" type="ApiDefinitionType"/>
    <xs:complexType name="ApiDefinitionType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.apidefinition</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Representation of an API definition accessible by all authenticated users.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="EntityType">
                <xs:sequence>
                    <xs:element name="EntryPoint" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    The entry point of the API definition.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="Namespace" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    The namespace of the API definition.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="ApiVendor" type="xs:string" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    API definition vendor.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                    <xs:element name="SupportedApiVersions" type="VersionsType" minOccurs="0" maxOccurs="1">
                         <xs:annotation>
                                <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                                <xs:documentation source="modifiable">none</xs:documentation>
                                <xs:documentation xml:lang="en">
                                    List of API versions supported by the
                                    ApiVendor.
                                </xs:documentation>
                                <xs:documentation source="required">false</xs:documentation>
                         </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VersionsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a list of API versions supported by an ApiVendor.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Single API version supported by an ApiVendor.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="FileDescriptor" type="FileDescriptorType" />
    <xs:complexType name="FileDescriptorType">
        <xs:annotation>
            <xs:appinfo>
                <meta:version added-in="5.1" />
                <meta:content-type>application/vnd.vmware.vcloud.filedescriptor</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">5.1</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a file required by an extension API definition.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="IdentifiableResourceType">
                <xs:sequence>
                    <xs:element name="Description" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Description for the file descriptor.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="File" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                The file descriptor itself (name, type, href).
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>

