schemas/rest-api/src/main/resources/etc/1.5/schemas/vcloud/vAppTemplate.xsd

<?xml version="1.0" encoding="UTF-8"?><!--
Copyright © 2013 VMware, Inc. All rights reserved.

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.

Except as explicitly provided herein, no express or implied licenses, under any VMware patents, copyrights, trademarks, or any other intellectual property rights, are granted or waived by implication, exhaustion, estoppel, or otherwise, on modified versions of the Software.
--><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.vmware.com/vcloud/v1.5" xmlns:ovf="http://schemas.dmtf.org/ovf/envelope/1" xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:meta="http://www.vmware.com/vcloud/meta" elementFormDefault="qualified" targetNamespace="http://www.vmware.com/vcloud/v1.5" version="1.0">

    <xs:import namespace="http://schemas.dmtf.org/ovf/envelope/1" schemaLocation="http://schemas.dmtf.org/ovf/envelope/1/dsp8023_1.1.0.xsd"/>

    <xs:include schemaLocation="common.xsd"/>
    <xs:include schemaLocation="resourceEntity.xsd"/>

    <xs:annotation>
        <xs:documentation xml:lang="en">
            Schema for the vCloud VApp Template
        </xs:documentation>
    </xs:annotation>

    <xs:element name="VAppTemplate" type="VAppTemplateType"/>
    <xs:complexType name="VAppTemplateType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.vcloud.vAppTemplate</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a vApp template.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ResourceEntityType">
                <xs:sequence>
                    <xs:element name="Owner" type="OwnerType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                vAppTemplate owner.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Children" type="VAppTemplateChildrenType" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Container for virtual machines included in this
                                vApp template.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" ref="ovf:Section">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                OVF sections included in this template.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VAppScopedLocalId" type="xs:string" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A unique identifier for the Vm in the scope of
                                the vApp template.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DefaultStorageProfile" type="xs:string" maxOccurs="1" minOccurs="0">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="5.1"/>
                            </xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation>
                                The name of the storage profile to be used for
                                this object. The named storage profile must
                                exist in the organization vDC that contains the
                                object. If not specified, the default storage
                                profile for the vDC is used.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VdcComputePolicy" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="31.0"/></xs:appinfo>
                            <xs:documentation source="added-in">31.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation source="deprecated">33.0</xs:documentation>
                            <xs:documentation xml:lang="en">
                                 A reference to a vdc compute policy for template VM. During instantiation
                                 this vdc compute policy should be present in destination vDC.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="ComputePolicy" type="ComputePolicyType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo>
                                <meta:version added-in="VM_SIZING_POLICY"/>
                            </xs:appinfo>
                            <xs:documentation source="added-in">33.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                A reference to a vDC compute policy. This contains VM's actual
                                vdc compute policy reference and also optionally an add-on
                                policy which can only define VM's sizing.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="DateCreated" type="xs:dateTime" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Creation date/time of the template.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="ovfDescriptorUploaded" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if the OVF descriptor for this template has
                            been uploaded.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="goldMaster" type="xs:boolean" default="false" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="1.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">1.5</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if this template is a gold master.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="VAppTemplateChildrenType">
        <xs:annotation>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Container for virtual machines included in this vApp template.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="VCloudExtensibleType">
                <xs:sequence>
                    <xs:element name="Vm" type="VAppTemplateType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Represents a virtual machine in this vApp
                                template.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="UploadVAppTemplateParams" type="UploadVAppTemplateParamsType"/>
    <xs:complexType name="UploadVAppTemplateParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.vcloud.uploadVAppTemplateParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for an uploadVappTemplate request.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ParamsType">
                <xs:sequence>
                    <xs:element name="VdcStorageProfile" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation>
                                A reference to the storage profile to be
                                specified in the DefaultStorageProfile element
                                of the vApp template created by this operation.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
                <xs:attribute name="transferFormat" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Reserved. Unimplemented.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="manifestRequired" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if an OVF manifest is included in the upload.
                            Default value is false.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="sourceHref" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.5"/></xs:appinfo>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">5.5</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Source URL of the OVF package.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="CloneVAppTemplateParamsType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.vcloud.cloneVAppTemplateParams</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">0.9</xs:documentation>
            <xs:documentation xml:lang="en">
                Parameters for a cloneVappTemplate request.
            </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:extension base="ParamsType">
                <xs:sequence>
                    <xs:element name="Source" type="ReferenceType">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Reference to the vApp template to clone.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="IsSourceDelete" type="xs:boolean" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:documentation source="since">1.0</xs:documentation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if the source vApp template should be
                                deleted after cloning is complete.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="VdcStorageProfile" type="ReferenceType" minOccurs="0" maxOccurs="1">
                        <xs:annotation>
                            <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation>
                                A reference to the storage profile to be
                                specified in the vApp template created by this
                                operation.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="CloneVAppTemplateParams" type="CloneVAppTemplateParamsType"/>

    <xs:element name="CustomizationSection" substitutionGroup="ovf:Section" type="CustomizationSectionType"/>
    <xs:complexType name="CustomizationSectionType">
        <xs:annotation>
            <xs:appinfo>
                <meta:content-type>application/vnd.vmware.vcloud.customizationSection</meta:content-type>
            </xs:appinfo>
            <xs:documentation source="since">1.0</xs:documentation>
            <xs:documentation xml:lang="en">
                Represents a vApp template customization settings.
            </xs:documentation>
        </xs:annotation>

        <xs:complexContent>
            <xs:extension base="ovf:Section_Type">
                <xs:sequence>
                    <xs:element name="CustomizeOnInstantiate" type="xs:boolean">
                        <xs:annotation>
                            <xs:documentation source="modifiable">always</xs:documentation>
                            <xs:documentation xml:lang="en">
                                True if instatiating this template applies
                                customization settings. Otherwise, instatiation
                                creates an identical copy.
                            </xs:documentation>
                            <xs:documentation source="required">true</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="Link" type="LinkType" minOccurs="0" maxOccurs="unbounded">
                        <xs:annotation>
                            <xs:documentation source="modifiable">none</xs:documentation>
                            <xs:documentation xml:lang="en">
                                Optional link to an entity or operation associated
                                with this section.
                            </xs:documentation>
                            <xs:documentation source="required">false</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
                </xs:sequence>

                <xs:attribute name="goldMaster" type="xs:boolean" default="false" use="optional">
                    <xs:annotation>
                        <xs:appinfo><meta:version added-in="5.1"/></xs:appinfo>
                        <xs:documentation source="modifiable">always</xs:documentation>
                        <xs:documentation source="since">5.1</xs:documentation>
                        <xs:documentation xml:lang="en">
                            True if this template is a gold master.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="href" type="xs:anyURI" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            Link to the section.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="type" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation source="modifiable">none</xs:documentation>
                        <xs:documentation xml:lang="en">
                            MIME type of the section.
                        </xs:documentation>
                        <xs:documentation source="required">false</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:element name="ShadowVMReferences" type="ReferencesType" substitutionGroup="References">
        <xs:annotation>
            <xs:documentation xml:lang="en">
               A container for shadow VM reference elements.
            </xs:documentation>
        </xs:annotation>
    </xs:element>
</xs:schema>